

<div class="navContainer" style = 'background-color: red'>
  <div class="navigation" style ="">
    <ul>
      <li><a href="/Admin/">Admin Home</a></li>
      <li><a href="/Admin/Users/">Admin Users</a></li>
      <li><a href="/Admin/Courses/">Admin Courses</a></li>
      <li><a href="/Admin/CourseModules/">Admin Course Modules</a></li>
      <li><a href="/Admin/Categories/">Admin Categories</a></li>
      <li><a href="/Admin/Languages/">Admin Languages</a></li>


    </ul>
  </div>
  {{!-- <div class="dropdown">
    <span>Admin Home</span>
    <div class="dropdown-content">
      <p><a href="/Admin/">Admin Home</a></p>
    </div>
  </div>
  <div class="dropdown">
    <span>Admin Users</span>
    <div class="dropdown-content">
      <p><a href="/Admin/Users/">Add/Delete/Edit Users</a></p>
      <p><a href="/Admin/AddUsersCourses/">Add Users to Courses</a></p>
      <p><a href="/Admin/DropUsersCourses/">Drop Users from Courses</a></p>
    </div>
  </div>
  <div class="dropdown">
    <span>Admin Courses</span>
    <div class="dropdown-content">
      <p><a href="/Admin/Courses/">Admin Courses</a></p>
      <p><a href="/Admin/CourseModules/">Add/Edit/Delete Course Modules</a></p>
    </div>
  </div>
  <div class="dropdown">
    <span>Admin Categories</span>
    <div class="dropdown-content">
      <p><a href="/Admin/Categories/">Add/Delete/Edit Categories</a></p>
      <p><a href="/Admin/AddDropCoursesCategories/">Add/Drop Categories to/from Courses</a></p>
    </div>
  </div>
  <div class="dropdown">
    <span>Admin Languages</span>
    <div class="dropdown-content">
      <p><a href="/Admin/Languages/">Add/Delete/Edit Languages</a></p>
      <p><a href="/Admin/AddDropLanguagesCourses/">Add/Drop Languages to/from Courses</a></p>
    </div>
  </div> --}}
</div>


{{!-- <div class="adminNavContainer">
  <div class="navigation">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/Courses/">Courses</a></li>
      <li><a href="/About/">About</a></li>
    </ul>
  </div>
</div> --}}
