<div class="adminNavContainer">
  <div class="navigation">
    <ul>
      <li><a href="/Admin/">Admin Home</a></li>
      <li><a href="/Admin/Users/">Admin Users</a></li>
      <li><a href="/Admin/Courses/">Admin Courses</a></li>
    </ul>
  </div>
</div>
