<div class="adminNavContainer">
  <div class="navigation">
    <ul>
      <li><a href="/Admin/">Admin Home</a></li>
      <li><a href="/Admin/Users/">Users</a></li>
      <li><a href="/Admin/Courses/">Courses</a></li>
      <li><a href="/Admin/AddUsersCourses/">Add Users to Courses</a></li> <!-- too long of name -->
      <li><a href="/Admin/DropUsersCourses/">Drop Users from Courses</a></li> <!-- too long of name -->
    </ul>
  </div>
</div>
