<div class="navContainer">
  <div class="navigation">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/Classes/">Classes</a></li>
      <li><a href="/About/">About</a></li>
      <li id="loginLink"><a href="/Login/">Login</a></li>
      <li id="logoutLink"><a href="/Logout/">Logout</a></li>
    </ul>
  </div>
</div>
