<div class="navContainer">
  <div class="navigation">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/Courses/">Courses</a></li>
      <li><a href="/About/">About</a></li>
      <li><a href="/CreateAccount/">Create Account</a></li>
      <li><a href="/Login/">Login</a></li>
      <li><a href="/Logout/">Logout</a></li>
      <li><a href="/Admin/">Admin</a></li>
    </ul>
  </div>
</div>
