<!DOCTYPE html>
<html>
<head>
  <title>{{{ title }}}</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>
<body>
  <div style="float: left; margin-left: 80px;">
    <a href="/"><img src="/images/logo.png" width="201" height="85" /></a>
  </div>
  <div style="float: right; margin: 30px 20px 0px 0px">
    <a href="/CreateAccount/">Create Account</a>
    <a href="/Login/">Login</a>
    <a href="/Logout/">Logout</a>
    <a href="/Admin/">Admin</a>
  </div>
  <div style="clear: both;"></div>

  {{>navigation}}
  {{{ body }}}
</body>
</html>
