<!DOCTYPE html>
<html>
<head>
  <title>{{{ title }}}</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/css/styles.css" />

  <script src="/js/require.js"></script>

</head>
<body>
  <div style="float: left; margin-left: 80px;">
    <a href="/"><img src="/images/logo.png" width="201" height="85" /></a>
  </div>
  {{>loginAndAccount}}
  <div style="clear: both;"></div>

  {{>navigation}}
  {{{ body }}}
  
</body>
</html>
