<div id="mainContent">
<h1>About</h1>



<div style="width: 1100px; margin: 25px 0px 0px 0px; padding: 0px;">
  <div style="float: left;">
    <!--
      image credit
      public domain image taken from https://www.publicdomainpictures.net/en/view-image.php?image=150549&picture=desktop-computer-pc
      on February 20, 2021
    -->
    <img src="/images/ordinateur-de-bureau-pc-1456070535WEH.jpg" width="546" height="363" />
  </div>

  <div style="float: left; border: 1px solid #333333; border-radius: 25px; margin: 0px 0px 0px 50px; padding: 10px; width: 440px; height: 343px;">
    <h1>New Tech Learning</h1>
    <p>Online learning is needed today more than ever. Whether the goal is learning a new skill or working toward a degree,
      there are significantly more students taking online coursework today than there has ever been.  While COVID certainly
      has been a recent driver, the movement toward distance learning has been growing over the past decade.</p>

    <p>New Tech Learning is designed to provide the highest quality instruction in Software Development.  Learn with us today!</p>
  </div>

  <div style="clear:both;"></div>

</div>

</div>
