<div style="background-color: #ff0000; height: 50px;">
  {{>adminNavigation}}
</div>

<div id="mainContent">
  <h1>Admin Home</h1>
  <ul>
    {{#if isLoggedInAsAdmin}}
      <li>
        <a href="/Admin/Users/">Admin Users</a>
        <p> Here you can add, edit, or delete a user, as well as add or drop a user from a course.</p>
      </li>
    {{/if}}

    <li>
      <a href="/Admin/Courses/">Admin Courses</a>
      <p>Here you can add, edit or delete courses, edit the course's category and languages a course is offered in
      </p>
    </li>
    <li>
      <a href="/Admin/CourseModules">Admin Course Modules</a>
      <p>Here you can add, edit, or delete course modules and edit the languages a course module is offered in </p>
    </li>

    {{#if isLoggedInAsAdmin}}
    <li>
      <a href="/Admin/CourseEnrollment/">Admin Course Enrollment</a>
      <p>Here you can add or drop users from courses</p>
    </li>
    <li>
      <a href="/Admin/Categories/">Admin Categories</a>
      <p>Here you can add, edit and delete categories</p>
    </li>
      <li>
        <a href="/Admin/Languages/">Admin Languages</a>
        <p>Here you can add, edit and delete languages</p>
      </li>
    {{/if}}
  </ul>
</div>
