<div style="background-color: #ff0000; height: 50px;">
  {{>adminNavigation}}
</div>

<div id="mainContent">
  <h1>Admin Home</h1>
  <ul>
    <li><a href="/Admin/Users/">Add / Edit / Delete Users</a></li>
    <li><a href="/Admin/Courses/">Add / Edit / Delete Courses</a></li>
    <li><a href="/Admin/Languages/">Add / Edit / Delete Languages</a></li>
    <li><a href="/Admin/Categories/">Add / Edit / Delete Categories</a></li>
    <li><a href="/Admin/CourseModules/">Add / Edit / Delete Course Modules</a></li>
    <li><a href="/Admin/AddUsersCourses/">Add Users to Courses</a></li>
    <li><a href="/Admin/DropUsersCourses/">Drop Users from Courses</a></li>
    <li><a href="/Admin/AddDropCoursesCategories">Add/Drop Categories to/from Courses</a></li>
    <li><a href="/Admin/AddDropLanguagesCourses">Add/Drop Languages to/from Courses</a></li>
    <li><a href="/Admin/AddDropLanguagesModules">Add/Drop Languages to/from Course Modules</a></li>
    
  </ul>

</div>
