<!-- bad place for this -->
<style type="text/css">
  table, th, td { border: 1px solid #000000; padding: 10px; }
</style>

<div style="background-color: #ff0000; height: 50px;">
  {{>adminNavigation}}
</div>

<div id="mainContent">
  <h1>Admin Courses</h1>

  <h2>Add Course</h2>
  <form>
  <table>
    <thead>
      <th>Course Name</th>
      <th>Course Description</th>
      <th>Instructor email</th>
    </thead>
    <tbody>
      <tr>
        <td><input type="text" id="courseName" /></td>
        <td><input type="text" id="courseDescription" /></td>
        <td><input type="text" id="instructorEmail" /></td>
      </tr>
    </tbody>
  </table>
  <button id="addButton" style="margin-top: 20px">Add Course</button>
</form>

  <br /><br />


  <h2>Edit/Delete Courses</h2>
  <table>
    <thead>
      <th>Course Name</th>
      <th>Course Description</th>
      <th>Course Start Date</th>
      <th>Instructor</th>
      <th colspan="2"></th>
    </thead>
    <tbody>
      <tr>
        <td>Intro to Java</td>
        <td>{ some content }</td>
        <td>2021-01-03</td>
        <td>NULL</td>
        <td><button id="editButton1">Edit</button></td>
        <td><button id="deleteButton1">Delete</button></td>
      </tr>
      <tr>
        <td>C++</td>
        <td>{ some content }</td>
        <td>2021-01-10</td>
        <td>NULL</td>
        <td><button id="editButton2">Edit</button></td>
        <td><button id="deleteButton2">Delete</button></td>
      </tr>
    </tbody>
  </table>


  <br /><br />

  <h1>Edit Languages and Category Associated with Courses</h1>
  <form>
      <label for="course">Select Course:</label>
      <select name="course">
        <option value="1">Intro to Java</option>
        <option value="2">C++</option>
        <option value="3">Advanced SQL</option>
        <option value="4">Python Boot Camp</option>
      </select>
    </form>

    <br />
    <h4>Current Languages</h4>
    <table>
        <thead>
            <th>Language</th>
            <th></th>
            <th colspan="2"></th>
        </thead>
        <tbody>
        <tr>
            <td>English</td>
            <td>USA</td>
            <td><button id="drop1">Drop from Course</button></td>
        </tr>
        <tr>
            <td>Spanish</td>
            <td>Spain</td>
            <td><button id="drop1">Drop from Course</button></td>
        </tr>
        </tbody>
    </table>
    <h4>Add New Language to Selected Course</h4>
    <form>
      <label for="language">Select language:</label>
      <select name="language" id="">
        <option value="1">English</option>
        <option value="2">Spanish</option>
        <option value="3">French</option>
      </select>
      <input type="submit">
    </form>

    <br /> 
    <h4>Current Category </h4>
    <table>
        <thead>
        <th>Category</th>
        <th></th>
        </thead>
        <tbody>
        <tr>
            <td>Web Development</td>
            <td><button id="drop1">Drop from Course</button></td>
        </tr>
        </tbody>
    </table>
    <h4>Change Course Category </h4>
    <form>
      <label for="category">Select Category:</label>
      <select name="category" id="course">
        <option value="1">Assembly Language</option>
        <option value="2">mySQL</option>
        <option value="3">Web Development</option>
        <option value="4">C </option>
      </select>
      <input type="submit">
    </form>
    
</div>