<!--still a bad place for this -->
<style type="text/css">
  table, th, td { border: 1px solid #000000; padding: 10px; }
</style>

<div style="background-color: #ff0000; height: 50px;">
  {{>adminNavigation}}
</div>

<div id="mainContent">
  <h1>Admin Course Modules</h1>
  <form>
      <label for="courseToGetModulesFrom">Select Course:</label>
      <select name="courseToGetModulesFrom" id="courseToGetModulesFrom">
        <option value="noSelection">--</option>
        {{#each courses}}
        <option value="{{courseId}}">{{courseName}}</option>
        {{/each}}
      </select>
    </form>

    <form id = "moduleOrderForm">
      <label for="moduleOrderChoice">Select Module Number:</label>
      <select name="moduleOrderChoice" id="moduleOrderChoice">
          {{!-- insert options here --}}
      </select>
    </form>

    <br /><br />

    <table id = "selectedModuleDisplayTable" >
    <thead>
        <th>HTML for Selected Module:</th>
    </thead>
        <tbody id='selectedModuleHTML'>
        {{!-- <tr>
            <td>1</td>
            <td>{html content}</td>
            <td><button id= "edit1">Edit</button></td>
            <td><button id="drop1">Drop from Course</button></td>
        </tr>
        <tr>
            <td>2</td>
            <td>{html content}</td>
            <td><button id= "edit2">Edit</button></td>
            <td><button id="drop2">Drop from Course</button></td>
        </tr> --}}
        </tbody>

    </table>
    <h2>Add Module</h2>
    <form action = ''>
        <input type="text" id ="moduleOrderInput" name = "moduleOrderInput" placeholder = "module order">
        <textarea id= "moduleHTMLInput" rows="4" cols="50" type="textarea" name ="moduleHTML" placeholder = "HTML" ></textarea>
        <button id = 'addModuleButton'>Submit</button>
    </form>

    <br />
</div>

<script> requirejs(["/js/config.js"], function (config){
    requirejs(["/js/adminCourseModules.js"]);
    }); </script>