<div style="background-color: #ff0000; height: 50px;">
  {{>adminNavigation}}
</div>

<div id="mainContent">
  <h1>Admin Home</h1>
  <ul>
    <li><a href="/Admin/Users/">Add / Edit / Delete Users</a></li>
    <li><a href="/Admin/Courses/">Add / Edit / Delete Courses</a></li>
  </ul>

</div>
