<!--still a bad place for this -->
<style type="text/css">
  table, th, td { border: 1px solid #000000; padding: 10px; }
</style>

<div style="background-color: #ff0000; height: 50px;">
  {{>adminNavigation}}
</div>

<div id="mainContent">
  <h1>Admin Languages</h1>

  <table>
    <thead>
      <th>Language Name</th>
      <th>Language Country</th>
      <th colspan="2"></th>
    </thead> 
    <tbody id = 'langAdminTableBody'>
        {{!-- dynamic content here --}}
    </tbody>

  </table>

      <h2>Add Language</h2>
    <form action="">
      <input type="text" id = "languageNameInput" name = "languageName" placeholder = "Language">
      <input type="text" id ="languageCountryInput" name = "languageCountry" placeholder = "Country" >
      <input type="submit" id = "addLanguageButton">
    </form>
</div>

<script> requirejs(["/js/config.js"], function (config){
    requirejs(["/js/languages.js"]);
    }); </script>