<!-- bad place for this -->
<style type="text/css">
  table, th, td { border: 1px solid #000000; padding: 10px; }
</style>

<div style="background-color: #ff0000; height: 50px;">
  {{>adminNavigation}}
</div>

<div id="mainContent">
  <h1>Admin Users</h1>
  <h2>Add User</h2>
  <form>
  <table>
    <thead>
      <th>First Name</th>
      <th>Last Name</th>
      <th>User Name</th>
      <th>Email</th>
      <th>Password</th>
      <th>User Type</th>
    </thead>
    <tbody>
      <tr>
        <td><input type="text" id="addFirstName" /></td>
        <td><input type="text" id="addLastName" /></td>
        <td><input type="text" id="addUserName" /></td>
        <td><input type="text" id="addEmail" /></td>
        <td><input type="text" id="addPassword" /></td>
        <td>
          <select name="userType" id="userType">
            <option value="Student">Student</option>
            <option value="Instrucotr">Instructor</option>
            <option value="Admin">Admin</option>
          </select>
        </td>
      </tr>
    </tbody>
  </table>
  <button id="addButton" style="margin-top: 20px">Add User</button>
  </form>

  <br /><br />


  <h2>Edit/Delete Users</h2>
  <table>
    <thead>
      <th>First Name</th>
      <th>Last Name</th>
      <th>User Name</th>
      <th>Email</th>
      <th>Change password</th>
      <th>User Type</th>
      <th colspan="2"></th>
    </thead>
    <tbody>
      <tr>
        <td>Darth</td>
        <td>Vader</td>
        <td>Vader1</td>
        <td>vader1@vader.com</td>
        <td></td>
        <td>Student</td>
        <td><button id="editButton1">Edit</button></td>
        <td><button id="deleteButton1">Delete</button></td>
      </tr>
      <tr>
        <td>Darth</td>
        <td>Vader</td>
        <td>Vader2</td>
        <td>vader2@vader.com</td>
        <td></td>
        <td>Student</td>
        <td><button id="editButton2">Edit</button></td>
        <td><button id="deleteButton2">Delete</button></td>
      </tr>
      <tr>
        <td>Darth</td>
        <td>Vader</td>
        <td>Vader3</td>
        <td>vader3@vader.com</td>
        <td></td>
        <td>Student</td>
        <td><button id="editButton3">Edit</button></td>
        <td><button id="deleteButton3">Delete</button></td>
      </tr>
    </tbody>
  </table>
  <br /> <br />
  <h1>Add/Drop Users from Courses</h1>

    <form>
      <label for="course">Select Course:</label>
      <select name="course" id="course">
        <option value="1">Intro to Java</option>
        <option value="2">C++</option>
        <option value="3">Advanced SQL</option>
        <option value="4">Python Boot Camp</option>
      </select>
    </form>

  <h4>Add User Based on Username</h4>
    <form>
      <label for="email">Student username:</label>
      <input type="text" id="username"></input>
      <button id="addUser">Submit</button>

  </form>

  <br />

    <h4>Drop Users from Selected Course</h4>

  <table>
    <thead>
      <th>First Name</th>
      <th>Last Name</th>
      <th>User Name</th>
      <th>Email</th>
      <th>User Type</th>
      <th colspan="2"></th>
    </thead>
    <tbody>
      <tr>
        <td>Yoda</td>
        <td>Yoda</td>
        <td>Yoda1</td>
        <td>Yoda@yoda.com</td>
        <td>Instructor</td>
        <td><button id="drop1">Drop from class</button></td>
      </tr>
      <tr>
        <td>Darth</td>
        <td>Vader</td>
        <td>Vader2</td>
        <td>vader@vader.com</td>
        <td>Student</td>
        <td><button id="drop2">Drop from class</button></td>
      </tr>
    </tbody>
  </table>
</div>
