<div style="background-color: #ff0000; height: 50px;">
  {{>adminNavigation}}
</div>

<div id="mainContent">
  <h1>Admin Course Modules</h1>
  <form>
      <label for="courseToGetModulesFrom">Select Course:</label>
      <select name="courseToGetModulesFrom" id="courseToGetModulesFrom">
        <option value="noSelection">--</option>
        {{#each courses}}
        <option value="{{courseId}}">{{courseName}}</option>
        {{/each}}
      </select>
      <p style="margin: 0px 0px 5px 5px; padding: 0px; display: inline">(Only live courses will show.)</p>
    </form>

    <form id = "moduleOrderForm">
      <label for="moduleOrderChoice">Select Module Number:</label>
      <select name="moduleOrderChoice" id="moduleOrderChoice">
          {{!-- insert options here --}}
      </select>
    </form>

    <br /><br />

    <table id = "selectedModuleDisplayTable" >
    <thead>
        <th>HTML for Selected Module:</th>
    </thead>

        {{!-- <tbody id='selectedModuleHTML'>

        </tbody> --}}

    </table>

    <h2>Add Module</h2>
    <form action = ''>
        <input type="text" id ="moduleOrderInput" name = "moduleOrderInput" placeholder = "module order">
        <textarea id= "moduleHTMLInput" rows="4" cols="50" type="textarea" name ="moduleHTML" placeholder = "HTML" ></textarea>
        <button id = 'addModuleButton'>Submit</button>
    </form>

    <br />
</div>

<script> requirejs(["/js/config.js"], function (config){
    requirejs(["/js/adminCourseModules.js"]);
    }); </script>
