<!-- bad place for this -->
<style type="text/css">
  table, th, td { border: 1px solid #000000; padding: 10px; }
</style>

<div style="background-color: #ff0000; height: 50px;">
  {{>adminNavigation}}
</div>

<div id="mainContent">
  <h1>Admin: Drop Users from Courses</h1>
    <form>
      <label for="course">Select Course:</label>
      <select name="course" id="course">
        <option value="1">Intro to Java</option>
        <option value="2">C++</option>
        <option value="3">Advanced SQL</option>
        <option value="4">Python Boot Camp</option>
      </select>
    </form>

    <br /><br />

  <table>
    <thead>
      <th>First Name</th>
      <th>Last Name</th>
      <th>User Name</th>
      <th>Email</th>
      <th>User Type</th>
      <th colspan="2"></th>
    </thead>
    <tbody>
      <tr>
        <td>Yoda</td>
        <td>Yoda</td>
        <td>Yoda1</td>
        <td>Yoda@yoda.com</td>
        <td>Instructor</td>
        <td><button id="drop1">Drop from class</button></td>
      </tr>
      <tr>
        <td>Darth</td>
        <td>Vader</td>
        <td>Vader2</td>
        <td>vader@vader.com</td>
        <td>Student</td>
        <td><button id="drop1">Drop from class</button></td>
      </tr>
    </tbody>
  </table>


</div>
