<!--still a bad place for this -->
<style type="text/css">
  table, th, td { border: 1px solid #000000; padding: 10px; }
</style>

<div style="background-color: #ff0000; height: 50px;">
  {{>adminNavigation}}
</div>

<div id="mainContent">
  <h1>Admin Languages</h1>

  <table>
    <thead>
      <th>Language Name</th>
      <th>Language Country</th>
      <th colspan="2"></th>
    </thead>
    <tbody>
      <tr>
        <td>English</td>
        <td>USA</td>
        <td><button id="editButton1">Edit</button></td>
        <td><button id="deleteButton1">Delete</button></td>
      </tr>
      <tr>
        <td>Spanish</td>
        <td>Spain</td>
        <td><button id="editButton2">Edit</button></td>
        <td><button id="deleteButton2">Delete</button></td>
      </tr>
    </tbody>

  </table>

      <h2>Add Language</h2>
    <form action="">
      <input type="text" name = "languageName" placeholder = "language">
      <input type="text" name ="languageCountry" placeholder = "country" >
      <input type="submit">
    </form>
</div>
