<div id="mainContent">
  <h1>New Tech Learning | Classes</h1>
  <div style="margin: 0px 25px 0px 0px; padding: 0px; ">
    <ul>
      <li>Lorem ipsum dolor sit amet</li>
      <li>consectetur adipiscing elit</li>
      <li>Duis laoreet</li>
    </ul>

  </div>
</div>
