<div id="mainContent">
  <div style="width: 900px">

    <div style="float: left; width: 375px; margin: 0px 25px 0px 0px; padding: 0px; ">
      <h1 style="margin: 0px; padding: 0px;">Course Overview: {{{title}}}</h1>
      {{{htmlContent}}}

      <a href="#">Sign up for class</a><br />
      <a href="{{{moduleLink}}}">Go to first module <!-- will show link if enrolled -->
    </div>
    <div style="float: left; width: 500px;">
      <img src="/images/temp_placeholder.jpg" width="500" height="281" />
    </div>
    <div style="clear: both;"></div>
  </div>
</div>
