<div id="mainContent">
  <h1>Courses</h1>
  <form id="categoryForm" style="margin: 0px 25px 25px 0px; padding: 0px; float: left;">
    Categories:
    <select name="categoriesList" id="categoriesList">
      {{#each categories}}
        <option value="{{categoryId}}">{{categoryName}}</option>
      {{/each}}
    </select>

    <button id="categoryButton">Submit</button>
  </form>
  <form id="languagesForm" style="float: left;">
    Languages:
    <select name="languagesList" id="languagesList">
      {{#each languages}}
        <option value="{{languageId}}">{{languageName}}</option>
      {{/each}}
    </select>

    <button id="languageButton">Submit</button>
  </form>
  <div style="clear: both;"></div>

  <div id="availableClasses"></div>
</div>

<script> requirejs(['courses'], function (){ }); </script>
