<div id="mainContent">
  <h1>Courses</h1>
  <div style="margin: 0px 25px 25px 0px; padding: 0px; float: left;">
    Categories:
    <span id="categoriesDropDownList"></span>
  </div>

  <form>
  <div style="margin: 0px 25px 25px 0px; padding: 0px; float: left;">
    Languages:
    <select name="languagesList" id="languagesList">
      {{#each languages}}
        <option value="{{languageId}}">{{languageName}}</option>
      {{/each}}
    </select>

    <button id="languageButton">Submit</button>
  </div>

  <div style="clear: both;"></div>
  <div id="availableClasses"></div>
  </form>
</div>

<script> requirejs(["/js/config.js"], function (config){
    requirejs(["/js/courses.js"]);
    }); </script>
