<div id="mainContent">
  <h1>Create Account</h1>
  <div id="feedback"></div>
  <form id="createAccount">
    First Name: <br />
    <input type="text" id="firstName" /><br /><br />

    Last Name: <br />
    <input type="text" id="lastName" /><br /><br />

    User Name: <br />
    <input type="text" id="userName" /><br /><br />

    Email: <br />
    <input type="email" id="email" /><br /><br />

    Password: <br />
    <input type="password" id="password1" /><br /><br />

    Re-enter password: <br />
    <input type="password" id="password2" /><br /><br />

    <button id="createAccountSubmit">Submit</button>
  </form>
</div>

<script src="/js/createAccount.js"></script>
