<div id="mainContent">
<h1>Login</h1>
{{{message}}}
<form>
  Username:<br />
  <input type="texxt" id="username" />

  <br /><br />

  Password:<br />
  <input type="password" id="password" />

  <br /><br />

  <button type="submit" id="submit">Submit</button>
  </form>
  <br /><br />

  <div id="feedback"></div>
</form>
</div>

<script src="/js/login.js"></script>
