<div id="mainContent">
<h1>New Tech Learning | Login</h1>
  <form>
    Email:<br />
    <input type="email" id="email" />

    <br /><br />

    Password:<br />
    <input type="password" id="password" />

    <br /><br />

    <button type="submit" id="submit">Submit</button>
    </form>
    <br /><br />

    <div id="feedback"></div>
  </form>
</div>
